<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>访客主页</title>
    <link rel="shortcut icon" href="https://www.3body.com/favicon.ico" >
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
</head>
<body>
    
        <div class="topnav">
            <a href="index.html"><img src="../static/imgs/st_logo.png" alt=""></a>
            <a class="active" href="#home">主页</a>
            <a href="#about">探索</a>
            <a href="#contact">想象</a>
            <div class="search-container">
              <form >
                <input type="text" placeholder="搜索.." name="search">
                <button type="submit">提交</button>
              </form>
            </div>
            <div class="user-container">
               <a></a> <a href="../tem/login.html">登录</a><a href="../tem/register.html">注册</a>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="side">
              <h2>关于三体</h2>
              <h5>刘慈欣著系列科幻小说</h5>
              <div class="fakeimg" style="height:200px;"><img src="../static/imgs/book.jfif" alt=""></div>
              <p>《三体》是刘慈欣创作的长篇科幻小说系列，由《三体》《三体2：黑暗森林》《三体3：死神永生》组成，第一部于2006年5月起在《科幻世界》杂志上连载，第二部于2008年5月首次出版，第三部则于2010年11月出版。
                作品讲述了地球人类文明和三体文明的信息交流、生死搏杀及两个文明在宇宙中的兴衰历程。其第一部经过刘宇昆翻译后获得了第73届雨果奖最佳长篇小说奖。</p>
              <h3>三体相关</h3>
              <p>更多内容敬请期待</p>
              <div class="fakeimg" style="height:60px;"><a href=""><img src="../static/imgs/a1.jpg" alt=""></a></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a2.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a3.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a4.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a5.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a6.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a5.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a4.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a3.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a2.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a1.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a4.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a2.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a3.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a5.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a1.jpg" alt=""></div><br>
              <div class="fakeimg" style="height:60px;"><img src="../static/imgs/a6.jpg" alt=""></div><br>
              

          </div>
          <div class="main">
              <div class="tool" id="sg"><button onclick="k()">获取更多文章</button></div>
              <div class="line">

              </div>
              <h2>三体一节选</h2>
              <div class="fakeimg" style="height:200px;"><img src="../static/imgs/bg.jpg" alt=""></div>
              <textarea name="" id="hid1"  rows="20" readonly="readonly" >
                34.虫子
　　“看完那些，你一定想到了三年前因球状闪电研究发现的宏原子，那可是你最辉煌的时代。”汪淼对丁仪说，他们此时正在丁仪家宽敞空旷的客厅中，两人靠在那张台球桌旁边。

　　“是啊，我一直在建立宏原子的理论，现在受到了启发：宏原子很可能就是普通原子在低维度的展开。这种展开是由某种我们不知道的自然力完成的，展开可能发生在宇宙大爆炸后不久，也可能现在仍然时时刻刻都在进行。也许，这个宇宙所有的原子在漫长的时间里最后都会展开到低维，我们宇宙的最终结局是变成低维度原子构成的宏宇宙，这也可以看作一个熵的增长过程吧……当时以为，宏原子的发现能给物理学带来突破，现在看来根本不是那么回事。”丁仪说，起身到书房去翻找什么。

　　“为什么呢？既然我们可以捕获宏原子，难道不能绕开高能加速器，直接从宏原子中研究物质的深层结构吗？”

　　“当初是这么想的，”丁仪从书房中走出来，手里拿着一个精致的银边相框，“现在看来很可笑。”他弯腰从脏乱的地板上拾起一个烟头，“还是看这个过滤嘴吧，我们说过它的二维面积展开来有客厅这么大，但要是真的展开了，你能从那个平面上研究出过滤嘴曾经的三维结构吗？显然不可能，那些三维结构的信息在展开时已经消失了，像打碎了的杯子不可能还原，原子在自然状态下的低维展开是不可逆的过程。三体科学家的高明之处，在于他们对粒子低维展开的同时保留了高维结构的信息，使整个过程成为可逆。而我们要想研究物质深层结构，还只能从十一维微观维度开始，也就是说，离不开加速器。打个比方：加速器是我们的算盘和计算尺，只有通过它们，我们才可能发明出电子计算机来。”

　　丁仪让汪淼看那个相框中的照片。照片上，一名年轻美丽的少校女军官站在一群孩子们中间，她目光清澈，动人地微笑着。她和孩子们站在一片修剪得很好的绿草坪上，上面有几只白色的小动物在他们的后面，有一幢很高大的厂房一样的建筑，墙上画着色彩鲜艳的卡通动物，还有气球、鲜花什么的。

　　“在杨冬之前认识的？你的生活够丰富的。”汪森看看照片说。

　　“她叫林云，对球状闪电研究和宏原子的发现做出过关键性的贡献，可以说，没有她，就没有这个发现。”

　　“我没有听说过她啊。”

　　“是啊，因为一些你同样没听说的事情……不过我一直觉得这对她不公平。”

　　“她现在在哪儿？”

　　“在……在一个地方，或一些地方……唉，她要是现在能出现有多好。”

　　对丁仪奇怪的回答，汪淼没有在意，他对照片上的那个女性也不感兴趣，他把相框还给丁仪，一摆手说：“无所谓，一切都无所谓了。”

　　“是啊，一切都无所谓了。”丁仪把相框在台球桌上端正地摆好，看着他，伸手去够桌角的一瓶酒……

　　当史强推门进来时，两人已经喝得有八分醉了，他们看到大史后都很兴奋。汪淼站起来搂住来者的双肩，“啊，大史，史警官……”丁仪则晃晃悠悠地找了个杯子放到台球桌上，给他倒酒，“你那个邪招还不如不出。那个信息，我们看不看，四百多年后的结果都一样。”

　　大史在台球桌前坐下来，两眼贼溜溜地看着两人：“事情真像你们说的那样，什么都完了？”

　　“当然，什么都完了。”

　　“加速器不能用，物质结构不能研究，就什么都完了？”

　　“那你——说呢？”

　　“技术不还是在进步嘛，汪院士他们还搞出了纳米材料……”

　　“想象一个古代的王国，他们的技术也在进步，能为士兵造出更好的刀啊剑啊长矛啊，甚至还有可能造出像机关枪那样连发的弓箭呢，但……”

　　大史若有所思地点点头，“但如果他们不知道物质是由原子、分子组成的，就永远造不出导弹和卫星，科学水平限制着呢。”

　　丁仪拍拍大史的肩，“我早就看出来史警官是个聪明人，就是看着……”

　　汪森接着说：“物质深层结构的研究是其他一切科学基础础的基础，如果这个没有进展，什么都是——用你的说法：扯淡。”

　　丁仪指指汪森：“汪院士这辈子还不会闲着，能继续改进刀啊剑啊长矛啊。我他妈的以后干什么？天知道！”说着他把一个空洒瓶扔到桌上，拾起台球丢过去砸。

　　“这是好事！”汪淼举起酒杯说，“我们这辈子反正能打发完，今后，倾废和堕落有理由了！我们是虫子！即将灭绝的虫子，哈哈……”

　　“说得好！”丁仪也举起酒杯，“为虫子干杯！真没想到世界末日是这么的爽，虫子万岁，智子万岁！末日万岁！”

　　大史摇摇头，把面前的那杯酒一口干了，又摇摇头，“熊样儿。”

　　“那你要咋的？”丁仪用醉眼盯着大史说，“你能让我们振作起来？”

　　大史站了起来，“走。”

　　“去哪儿？”

　　“找振作啊。”

　　“得了史兄，坐下，喝。”

　　大史扯着两人的胳膊把他们拽起来，“走，不行就把酒拿上。”

　　下楼后，三人上了大史的车。当车开动时，汪淼大着舌头问去哪儿，大史回答：“我老家，不远。“

　　车开出了城市，沿京石高速向西疾驶，刚刚进入河北境内就下了高速公路。大史停下了车，把车里的两人拖出来。丁仪和汪淼一下车，午后灿烂的阳光就令他们眯起了眼，覆盖着麦田的华北大平原在他们面前铺展开。

　　“你带我们来这儿于什么？“汪淼问。

　　“看虫子。”大史点上一根斯坦顿上校送的雪茄说，同时用雪茄指指面前的麦田。

　　汪淼和丁仪这才发现，田野被厚厚的一层蝗虫覆盖了，每根麦秆上都爬满了好几只，地面上，更多的蝗虫在蠕动着，看去像是一种黏稠的液体。

　　“这地方也有蝗灾了？”汪淼赶走田埂一小片地上的蝗虫，坐了下来。

　　“像沙尘暴一样，十年前就有了，不过今年最厉害。”

　　“那又怎么样？大史，什么都无所谓了。”丁仪带若未消的醉意说。

　　我只想请二位想一个问题：“是地球人与三体人的技术水平差距大呢，还是蝗虫与咱们人的技术水平差距大？”

　　这个问题像一瓢冷水泼在两名醉汉科学家头上，他们盯着面前成堆的蝗虫，表情渐渐凝重起来，两人很快就明白了大史的意思。

　　看看吧，这就是虫子，它们的技术与我们的差距，远大于我们与三体文明的差距。人类竭尽全力消灭它们，用尽各种毒剂，用飞机喷撒，引进和培养它们的天敌，搜寻并毁掉它们的卵，用基因因改造使它们绝育；用火烧它们，用水淹它们，每个家庭都有对付它们的灭害灵，每个办公桌下都有像苍蝇拍这种击杀它们的武器……这场漫长的战争伴随着整个人类文明，现在仍然胜负未定，虫子并没有被灭绝，它们照样傲行于天地之间，它们的数量也并不比人类出现前少。把人类看做虫子的三体人似乎忘记了一个事实：虫子从来就没有被真正战胜过。

　　太阳被一小片黑云遮住了，在大地上投下一团移动的阴影。这不是普通的云，是刚刚到来的一大群蝗虫，它们很快开始在附近的田野上降落，三个人沐浴在生命的暴雨之中，感受着地球生命的尊严。丁仪和汪淼把手中拎着的两瓶酒徐徐洒到脚下的华北平原上，这是敬虫子的。

　　“大史，谢谢你。”汪淼向大史伸出手去。

　　“我也谢谢你：”丁仪握住了大史的另一只手。

　　“我们快回去吧，有好多工作要做呢。”汪淼说。
              </textarea>
              
              <span><img src="../static/imgs/re.png" alt=""></span><button id="bp1" onclick="h1()">评论</button>
              <span><img src="../static/imgs/wr.png" alt=""></span><button onclick="  f1()" id="wr1">编辑</button>
              <span><img src="../static/imgs/lk.png" alt=""></span><button onclick=" g1()" id="l1">喜欢</button>
              <span><img src="../static/imgs/sa.png" alt=""></span><button onclick="j()">分享</button>
              <br>
              <div class="hh">
                <form id="td1" style="display: none;" >
                   <textarea name="" id="pl1"  rows="2" placeholder="发表你的看法" ></textarea>
                   <input type="submit" onclick="i()">
                </form>
              </div>
                
               
              
              
              <div class="line">
                
              </div>
              <h2>三体二节选</h2>
              <div class="fakeimg" style="height:200px;"><img src="../static/imgs/game.jpg" alt=""></div>
              <textarea name="" id="hid2"  rows="20" readonly="readonly" >
                下部 黑暗森林 第21部分
　　这时他看到世界在眼前分成了四份，一份是周围的现实世界，另外三份是变形的映像。映像来自他前上方突然出现的三个球体，它们都有着全反射的镜面，就像他在最后一个梦中见到的墓碑那样。他不知道这是智子的几维展开，那三个球体都很大，在他的前方遮住了半个天空，挡住了正在亮起来的东方天际，在球体中映出的西方天空中他看到了几颗残星，球体下方映着变形的墓地和自己。罗辑最想知道的是为什么是三个，他首先想到的是三体世界的象征，就像叶文洁在最后一次ETO的聚会上看到的那个艺术品：但看到球体上所映照的虽然变形但异常清晰的现实图像时，他又感觉那是三个平行世界的入口，暗示着三种可能的选择；接下来看到的又否定了他的这种想法，因为三个球体上都出现了两个相同的字：住手！

　　我可以谈谈条件吗？罗辑仰头看着三个球体问。

　　你先把枪放下，然后我们可以谈判。

　　这些字仍是在三个球体上同时显示的，字迹发出红色的光芒，极其醒目，罗辑看到字行在球体上没有变形，是整齐的一行，以至于看上去既像在球体表面，又像在它们的内部，他提醒自己，这是在看高维空间在三维世界中的投影。

　　这不是谈判，是我继续活下去的要求，我只希望知道你们答应还是不答应。说出你的要求。

　　让水滴，或者说探测器，停止向太阳发射电波。已经接你说的做了。

　　球体的回答快得出乎预料，罗辑现在并没有什么办法去核实，但他感到周围的空间有了一些微妙的变化，就像某种因持续存在而不为人察觉的背景音消失了，当然，这也许是幻觉，人是感觉不到电磁辐射的。

　　让正在向太阳系行进的九个水滴立刻改变航向，飞离太阳系。这一次三球体的回答稍微延迟了几秒钟。

　　已经按你说的做了。

　　请给人类核实的手段。九个探测器都将发出可见光，你们的林格——斐兹罗望远镜就能观测到它们。

　　罗辑仍然不可能核实这些，但这个时候，他相信三体世界。

　　最后一个条件：三体舰队不得越过奥尔特星云。舰队现在已处于最大的减速推进功率，不可能在奥尔特星云外侧把与太阳的相对速度减到零。

　　那就像水滴编队一样转向，使航线偏离太阳系。向哪个方向转向都是死路，这样会使舰队掠过太阳系进入荒凉太空，到时，无论是返回三体世界，还是寻找其他可生存星系都要相当长的时间，舰队生态循环系统维持不了那么长时间。

　　也不一定是死路，也许以后人类或三体世界的飞船能够追上并营救他们。这需要最高执政官的指令。

　　转向毕竟是一个很长的过程，先做起来吧，给我和别的生命一个活下去的机会。一段长达三分钟的沉默，然后：舰队将在地球计时十分钟后开始转向，大约转向开始三十分钟后，人类太空观测系统就能觉察到航向的改变。

　　好，对我来说这就够了。罗辑说，同时把手枪从胸口移开，他的另一只手扶着墓碑，尽力不让自己倒下。你们早就知道宇宙的黑暗森林状态吗？是的，早就知道，你们这么晚才知道倒是一件很奇怪的事你的健康状况让我们担忧。这不会意外中断摇篮系统的维持信号吧？不会，这套装置比雷迪亚兹的要先进许多，我只要活着信号就不会中断发射。你最好还是坐下来，这样会对你的状况有所改善。

　　谢谢。罗辑说，靠着墓碑坐了下来，不要担心，我死不了的。我们正在和两个国际的最高层取得联系，要不要为你叫一辆救护车？罗辑笑着摇摇头，不用，我不是救世主，只想如同一个普通人那样离开这里回家，我休息一会儿就走。三个球体中的两个消失了，剩下的一个显示的字迹也不再发光，显得黯淡阴郁：我们还是失败在计谋上。

　　罗辑点点头，用尘埃云遮挡太阳向星际发送信息并不是我的发明，早在二十世纪就有天文学家提出过这个设想。其实你们有过多次识破我的机会。比如在雪地工程的全过程中，我一直对核弹在太阳轨道上的精确位置那么在意。你还在长达两个月的时间里，一个人待在控制室中，遥控核弹上的离子发动机对它们的位置进行微调，我们当时对这些都没有在意，以为你只是通过无意义的工作来逃避现实。我们从采就没有想到这些核弹的间距有什么意义。

　　还有一个机会，那时我向一个物理学家小组咨询智子在太空中展开的问题(1)。如果ETO还在，他们早就识破我了。①罗辑曾怀疑在尘埃云团形成后，智子可以在云团的间隙进行二维展开，也对太阳进行遮挡，进而干扰信息的发送，但他随后得知，智子在维展开后没有任何空间机动和定位能力，只能以行星的引力为骨架保持形状，如果在太空中展开，将很快在太阳风等因素的作用下失去平面形状折叠起来，这就是二级展开后的智子只能在包裹三体行星的情况下才能保持形状进行电路蚀刻的原因。

　　是的，抛弃他们是一个错误。

　　还有，我要求在雪地工程中建立这样奇怪的摇篮触发系统。这确实使我们想起了雷迪亚兹，但没有由此想更多，两个世纪前的雷迪亚兹对我们是无害的，另外两个面壁者对我们也是无害的。我们把对他们的轻视也转移到你身上。

　　对他们的轻视是不公平的，那三位面壁者都是伟大的战略家，他们看清了人类在末日之战中必然失败的事实。也许我们可以开始谈判了。

　　那不是我的事情了。罗辑说完长长地出了一口气，感到了如新生一般的轻松和惬意。

　　是的，你已经完成了面壁者的使命，但总能提一些建议吧？人类的谈判者肯定首先提出，要你们帮助建立一个更完善的信号发射系统，使人类掌握随时向太空发射咒语的能力。即使水滴解除对太阳的封锁，现在的系统也实在太原始了。我们可帮助建立一个中微子发射系统。

　　据我所了解的情况，他们可能更倾向于引力波。在智子降临后，这是人类物理学向前走得比较远的领域，他们当然需要一个自己能够了解其原理的系统。引力波的天线体积很巨大的。

　　那是你们和他们的事。奇怪，我现在感觉自己不是人类的一员了，我的最大愿望就是尽快摆脱这一切。接下来他们会要求我们解除智子封锁，并全面传授科学技术。

　　这对你们也很重要，三体世界的技术是匀速发展的，直到两个世纪后仍未派出速度更快的后续舰队，所以，要救援偏航的三体舰队，只能靠未来的人类了。我要离开了，你真的能够自己回去吗？你的生命关系到两个文明的生存。

　　没问题，我现在感觉好多了，回去后我就立刻把摇篮系统移交，然后，我就与这一切无关了，最后只想说：谢谢。为什么？因为你们让我活下来了，其实，只要换个思考方式，我们都能活下来。球体消失了，回到了十一维度的微观状态。太阳已经从东方露出一角，把金辉撒向这个从毁灭中幸存的世界。

　　罗辑慢慢站起身，最后看了一眼叶文洁和杨冬的墓碑，沿着来时的小路蹒跚走去。

　　那只蚂蚁已经爬到了墓碑顶端，骄傲地对着初升的太阳挥舞两只触须，对于刚才发生的事，仅就地球生命而言，它是唯一的目击者。

　　五年以后。

　　罗辑一家远远就看到了引力波天线，但车行驶了半小时才到达它旁边，这时，他们才真正感受到它的巨大。天线是一个横放的圆柱体，有一千五百米长，直径五十多米，整体悬浮在距地面两米左右的位置。它的表面也是光洁的镜面，一半映着天空，一半映着华北平原。它让人想起几样东西：三体世界的巨摆、低维展开的智子、水滴。这种镜面物体反映了三体世界的某种至今也很难为人类所理解的观念，用他们的一句名言来讲就是：通过忠实地映射宇宙来隐藏自我，是融入永恒的唯一途径。

　　天线周围有一大片翠绿的草地，形成了华北沙漠上的一个小小的绿洲。这片草地并不是专门种植的，引力波系统建成后，一直在不间断地发射，只是发出的波没有被调制，与超新星爆发、中子星或黑洞发出的引力渡无异，但密集的引力波束却在大气层中产生了奇特的效应，大气中的水汽在天线上方聚集，使得天线周围经常降雨，有时，降雨的区域仅有三四公里半径，一块圆形的雨云像晴空中的巨形飞碟般悬在天线上方，从雨中可以看到周围灿烂的阳光。于是这一区域长出了丰茂的野草。但今天罗辑一家并没有看到这种奇观，只见到天线上空聚集的一片白云，云被风吹到波束范围外后就消散了，但新的云仍不断在波束内产生，使得那一片圆形的天空像是通向另一个云雾宇宙的时空蚀洞，孩子看到后说它像一位巨人爷爷的白头发。

　　罗辑和庄颜跟着在草地上奔跑的孩子，来到了天线下面。最初的两个引力波系统分别建在欧洲和北美，它们的天线采用磁悬浮，只能从基座上悬起几厘米；而这个天线采用反重力，如果愿意，它可以一直升到太空中。三人站在天线下方的草地向上望，巨大的圆柱体从他们头顶向前方伸延，像是从两侧向上卷曲的天空。由于半径很大，底面弧度很小，上面的映像并不失真。这时夕阳已经照到天线下面，罗辑在映像中看到庄颜的长发和白裙在金色的阳光中飘动，像一个从天空俯视地面的天使。罗辑把孩子举起来，她的小手摸到了天线光洁的表面，她使劲向一个方向推着。

　　我能让它转起来吗？如果你推的时间足够长，它会转的。庄颜回答，然后微笑着看着罗辑问，是吗？罗辑对庄颤点点头：如果时间足够长，她能推动地球呢。像已经无数次发生过的那样，他们的目光又交织在一起，这是两个世纪前在蒙娜丽莎的微笑中那次对视的继续。他们发现庄颜设想的目光语言真的变成了现实，或者说相爱的人类早就拥有了这种语言。当他们对视时，丰富的涵义从目光中涌出，就像引力波束形成的云之井中涌出的白云一般，无休无止。但这不是这个世界的语言，它本身就构筑了一个使自己有意义的世界，只有在那个玫瑰色的世界中，这种语言的所有词汇才能找到对应物。那个世界中的每一个人都是上帝，都能在瞬间数清沙漠中的每一粒沙并记住它们，都能把星星串成晶莹的项链挂到爱人的颈上这就是爱吗？这行字显现在他们旁边一个突然出现的低维展开的智子上，这个镜面球体仿佛是上方的圆柱体某处融化后滴下的一滴。罗辑认识的三体人并不多，不知道现在与他对话的是谁，不知道这位外星人是在三体世界还是在日益远离太阳系的舰队中。

　　应该是吧。罗辑徽笑着点点头。

　　罗辑博士，我是来向你抗议的。

　　为什么？因为在昨天晚上的演讲中，你说人类迟迟未能看清宇宙的黑暗森林状态，并不是由于文明进化不成熟而缺少宇宙意识，而是因为人类有爱。

　　这不对吗？对，虽然爱这个词用在科学论述中涵义有些模糊，但你后面的一句话就不对了，你说很可能人类是宇宙中唯一拥有爱的种族，正是这个想法，支撑着你走完了自己面壁者使命中最艰难的一段。

　　当然，这只是一种表达方式，一种不严格的比喻而已。至少我知道三体世界也是有爱的，但因其不利于文明的整体生存而被压制在萌芽状态，但这种萌芽的生命力很顽强，会在某些个体身上成长起来。

　　请问您是我们以前不认识，我是两个半世纪前曾向地球发出誓告的监听员。

　　天啊，您还活着？庄颜惊叫道。

　　也活不了多长时间了，我一直处于脱水状态，但这么长的岁月，脱水的机体也会老化。不过我真的看到了自己想着的未来，我感到很幸福。

　　请接受我们的敬意。罗辑说。

　　我只是想和您讨论一种可能：也许爱的萌芽在宇宙的其他地方也存在，我们应该到处鼓励她的萌发和成长。

　　为此我们可以冒险。对，可以冒险。

　　我有一个梦，也许有一天，灿烂的阳光能照进黑暗森林。这时，这里的太阳却在落下去，现在只在远山上露出顶端的一点，像山顶上镶嵌着的一块光灿灿的宝石。孩子已经跑远，同草地一起沐浴在金色的晚霞之中。

　　太阳快落下去了，你们的孩子居然不害怕？当然不害怕，她知道明天太阳还会升起来的。
              </textarea>
              <span><img src="../static/imgs/re.png" alt=""></span><button id="bp2" onclick="h2()">评论</button>
              <span><img src="../static/imgs/wr.png" alt=""></span><button onclick=" return f2()" id="wr2">编辑</button>
              <span><img src="../static/imgs/lk.png" alt=""></span><button onclick=" g2()" id="l2">喜欢</button>
              <span><img src="../static/imgs/sa.png" alt=""></span><button onclick="j()">分享</button>
              <br>
              <div class="hh">
                <form id="td2" style="display: none;" >
                   <textarea name="" id="pl2"  rows="2" placeholder="发表你的看法" ></textarea>
                   <input type="submit" onclick="i()">
                </form>
              </div>
              <div class="line">
                
              </div>
              <h2>三体三节选</h2>
              <div class="fakeimg" style="height:200px;"><img src="../static/imgs/R-C.jfif" alt=""></div>
              <textarea name="" id="hid3"  rows="20" readonly="readonly" >
                第六部 第四章
　　《时间之外的往事》(节选)责任的阶梯

　　我的一生，就是在攀登一道责任的阶梯。

　　小时候，我的责任是好好学习，做一个好孩子，不要让爸爸妈妈失望。

　　以后在中学和大学，我的责任仍然是努力学习，使自己成为一个有能力的优秀的人，不要让社会失望。

　　从读博士开始，我的责任变得具体了。我要为运载火箭的进步做出自己的贡献，要制造出推力更大、更可靠的火箭，把很少的人和物资送到地球执道上。

　　后来进入PIA,我的责任变成把一个探测器送到一光年以外的太空中，与入便的三体舰队相会。这个距离，是我以前参与研制的运载火箭飞行距离的百亿倍。

　　然后，我得到了一颗星星，在新纪元，它给我带来了以前难以想象的责任，我成为黑暗森林威慑的执剑人。现在看来，说那时自己掌握着人类的命运有些言过其实，但我确实掌握着两个文明历史的走向。

　　后来，责任变得复杂起来，我想让人类插上光速飞行的翅膀，却又不得不做相反的事:制止由此引发的战争。

　　我不知道那些灾难和太阳系最后的毁灭与我有多大关系，这是永远无法证实的，但肯定与我有关系，与我的责任有关系。

　　现在，我将登上责任的顶峰，要为宇宙的命运负责了。当然，要为此负责的不止我们两个人，但这责任有我们的一份，这样的责任，在以前是绝对无法想象的。

　　我要对相信上帝存在的人们说，我不是它选定的;我也要对唯物主义者们说，我不是创造历史的人。我只是一个普通人，不幸的是没有能够走过一个普通人的生活道路，我的经历其实是一个文明的历程。

　　现在我们知道，每个文明的历程都是这样:从一个狭小的摇篮世界中觉醒，瞒珊地走出去，飞起来，越飞越快，越飞越远，最后与宇宙的命运融为一体。

　　对于智慧文明来说，它们最后总变得和自己的思想一样大。

　　智子通过647号宇宙的控制系统，操纵小宇宙处于大宇宙中的门，门在大宇宙中快速移动，寻找着适合生存的世界。门与小宇宙的通信能够传递的信息十分有限，不能传输图像，只能发回对环境的评估结果，这是在负十到十之间的一个数字，表示环境的生存级别，只有级别大于零的环境，人类才能在其中生存。

　　门在大宇宙中进行了上万次跳跃移动，这过程耗费了三个月，只有一次检测到一个三级环境，智子不得不承认，这就是最好的结果了。

　　“三级环境是很恶劣很危险的!”智子对程心和关一帆说。

　　“我们不怕，我们就去那里吧。”程心坚定地说，关一帆对他点点头。

　　门在647号宇宙中出现了，同程心和关一帆在蓝星上看到的一样，它也是一个由发光的直线画出的，长方形，但比蓝星上那个要大许多，这可能是为了物质转移的方便。门最初出现时并没有与大宇宙连通，任何物质都能穿过它来到另一侧。当智子重新设定门的参数后，穿过门的物质消失了，它们将在大宇宙中出现。

　　接着，647号宇宙开始向大宇宙归还物质。

　　据智子介绍，小宇宙本身是没有质量的，它的质量都来自于从大宇宙中带来的物质。在三体世界曾经制造过的几百个小宇宙中，647号属于最小的一类，它总共从大宇宙中带走了约五十万吨物质，相当于公元世纪一艘大型油轮的运载量，从宇宙尺度上讲确实微不足道。

　　物质搬运首先从土壤开始。自从第二次收割后，田地就没有再播种，机器人们用干农活的小推车装运潮湿的土壤，到达门前时，两个机器人抬起小车把土倾倒到门里——在经过长方形平面后，土消失了。土壤的搬运进行得很快，三天后，小宇宙中已经没有一粒土了，房子周围的那几棵树也送进了门中。

　　土壤消失后，小宇宙出现了一片金属的地面。这地面由一片片光洁的金属板拼接而成，像镜子一样倒映着太阳。机器人从地面的一侧把金属板拆下来，把它们一块块推进门。

　　在小世界一侧被掀开的地面下，露出了一艘小型飞船。这艘飞船只有十几米长，却浓缩了三体世界最先进的技术。它是按地球人类的人体工程学设计，可乘坐三名乘员，装备了核聚变和曲率驱动两套动力系统，有适合人类的迷你型生态循环系统和冬眠装置，像“星环”号一样可以直接在行星上降落和起飞。也许是为了方便通过小宇宙的门，它的外形呈细长的流线型。这艘飞船原本设想是由647号宇宙中的人进入新宇宙时使用，在新宇宙中找到合适的生存环境前，它可以维持相当长的时间在，他们将乘坐它返回大宇宙。

　　金属地面被继续掀开，露出了下面的机器设备，这就是程心和关一帆在小宇宙中第一次看到具有三体特征的事物。就像程心曾见过的那样，这些东西的设计理念与人类完全不同，初看根本看不出它们是机器，像是一堆怪诞的雕塑或某种自然形成的地质构造。机器人开始拆卸这些机器，把它们的部件一块块地送进门。

　　程心和智子在一间房子里忙碌着什么，她们不让关一帆过去看，说是在做一件女人的事情，最后会给他一个惊喜。

　　当地面下的某部机器被关停后，小宇宙中的重力消失了，那几幢白色的房子悬浮在空中。

　　机器人在失重中拆除天空，那是一大片能够显示蓝天和白云的薄膜。

　　这时，最后的地面也拆除了。

　　由于水体失去约束大量蒸发，小宇宙中云雾迷漫，太阳在云后朦胧地照耀着，出现了一道横跨宇宙的绚丽彩虹。小世界中的水都在失重中形成大大小小的液球，晶莹地折射和反射着阳光，在彩虹周围飘浮着。

　　随着机器的拆除，生态维持系统关闭了，程心和关一帆穿上了太空服。

　　智子再次修改了门的通行参数，第一次允许气体通过。小宇宙中响起一阵低沉的轰鸣声，这是空气涌进门时发出的。在彩虹下面，雪白的云雾在门的附近形成一个大旋涡，像从太空中看到的地球上的台风。然后，旋涡变成一股龙卷风，发出的声音也变成尖啸，飘浮的水球被纷纷吸进湍急的龙卷风，撕碎后消失在门里。空中飘浮的无数小物体也都被龙卷风吞噬。太阳、房子和飞船等大物体，都向门的方向飘去，但它们很快被带有推进器的机器人固定在空中。

　　随着空气渐渐稀薄，彩虹消失了，云雾页越来越淡，空间变得越来越透明，小宇宙的太空显现出来，它与大宇宙的太空一样，漆黑深邃，但没有星星。只剩下三件大的物体飘浮在太空中:太阳、一间房子和飞船，还有在失重中的十几个机器人。在程心眼中，这个简单的世界很像她小时候画过的一幅稚拙的画。程心和关一帆在失重中开动太空服上的推进器向太空深处飞去，最远飞一千米就到达宇宙的边缘，瞬间回到宇宙的另一侧。可以在太空中看到那些物体的映像，每个方向的映像都有无穷多个，像相对摆放的两面镜子中的场景一样，成长长的一排延伸到无穷远处。

　　最后一间房子被迅速拆除，这就是智子的那间东方格调的会客厅，那些字画、茶案和房子的碎片一起被机器人送进门去、太阳终于熄灭了，它是一个金属球体，发光的一半是透明的。三个机器人把它整个推过了门。以后小宇宙中只能有灯光照明，已经变成真空的太空迅速冷下来，残存的水和空气被冻成片片冰晶，在灯光中闪闪发光。

　　在智子的指令下，所有的机器人排成一列，鱼贯地进入门中。

　　现在，小宇宙的太空中，只剩下一艘细长的小飞船和漂浮在船边的三个人。

　　智子拿着一个金属盒，那是他们要留在小宇宙中的东西，是要送往新宇宙的漂流瓶。它的主体是一台微型电脑，电脑的量子存储器中存储着小宇宙电脑主机的全部信息，这几乎是三体和地球文明的全部记忆了。

　　当新宇宙诞生时，金属盒会收到门发来的信号，然后用自己的小推进器穿过门，进入新宇宙。它会在新宇宙的高维太空中飘浮，等待着被拾取和解读的那一天。同时，它还会用中微子束把自己存储的信息不断地播放出来，如果新宇宙中也有中微子的话。

　　程心和关一帆相信，其他的小宇宙，那些响应回归运动呼吁的小宇宙，也在做着同样的事。如果新宇宙真的诞生，其中会有许多来自旧宇宙的漂流瓶。可以相信，相当一部分漂流瓶中的记忆体里存储的信息可能达到这样的程度:记录了那个文明每一个个体的全部记忆和意识，以及每个个体的全部生物学细节，以至于新宇宙中的文明可以根据这些信息复原那个文明。”“还可以再留下五公斤吗?”程心问道。她在飞船的另一侧，身穿太空服，手中举着一个发光的透明球体.球体直径约半米，里面飘浮着几个水球，有的里面游动着几条小鱼，有的里面生长着绿藻;还有两块戮浮的微型陆地，上面长着嫩绿的青草。光亮是从球体顶部发出的，那里安装着一个小小的发光体.是这个小世界的太阳。这是一个全封闭的生态球，是程心和智子十多天的共作成果，只要球休内的小太阳还能够发光，这个小小的生态系统就能生存下去。只要有它留在这里，647号宇宙就不是一个没有生命的黑暗世界。

　　“当然可以，大宇宙不会因为这五公斤就不坍缩了。”关一帆说，他还有一个没说出来的想法:也许大宇宙真的会因为相差一个原子的质量而由封闭转为开放。大自然的精巧有时超出想象，比如生命的诞生，就需要各项宇宙参数在几亿亿分之一精度上的精确配合。但程心仍然可以留下她的生态球，因为在那无数文明创造的无数小宇宙中，肯定有相当一部分不响应回归运动的号召，所以，大宇宙最终被夺走的质量至少有几亿吨，甚至可能是几亿亿亿吨。

　　但愿大宇宙能够忽略这个误差。

　　程心和关一帆进入了飞船，智子最后也进来了。她早就不再穿那身华丽的和服了，她现在身着迷彩服，再次成为一名轻捷精悍的战士，她的身上佩带着许多武器和生存装备，最引人注目的是那把插在背后的武士刀。

　　“放心，我在，你们就在!”智子对两位人类朋友说。

　　聚变发动机启动了，推进器发出幽幽的蓝光，飞船缓缓地穿过了宇宙之门。

　　小宇宙中只剩下漂流瓶和生态球。漂流瓶隐没于黑暗里，在一千米见方的宇宙中，只有生态球里的小太阳发出一点光芒。在这个小小的生命世界中，几只清澈的水球在零重力环境中静静地飘浮着，有一条小鱼从一只水球中蹦出，跃入另一只水球，轻盈地穿游于绿藻之间。在一小块陆地上的草丛中，有一滴露珠从一片草叶上脱离，旋转着飘起，向太空中折射出一缕晶莹的阳光。
              </textarea>
              <span><img src="../static/imgs/re.png" alt=""></span><button id="bp3" onclick="h3()">评论</button>
              <span><img src="../static/imgs/wr.png" alt=""></span><button onclick=" return f3()" id="wr3">编辑</button>
              <span><img src="../static/imgs/lk.png" alt=""></span><button onclick=" g3()" id="l3">喜欢</button>
              <span><img src="../static/imgs/sa.png" alt=""></span><button onclick="j()">分享</button>
              <div class="hh">
                <form id="td3" style="display: none;" >
                   <textarea name="" id="pl3"  rows="2" placeholder="发表你的看法" ></textarea>
                   <input type="submit" onclick="i()">
                </form>
              </div>
          </div>
        </div>
        <div class="footer">
          <div class="l">
            <span>新手制作多多包涵 </span>
          </div>
          <div class="c">
            <a href=""><span>使用条款</span></a>
            <a href=""><span>隐私政策</span></a>
            <a href=""><span>内容指引</span></a>
          </div>
          <div class="r">
            <a href="https://www.3body.com/home.html" target="_blank"><span>友情链接</span></a>
            
          </div>
        </div>
    
        
    
</body>
</html>